/* Text Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Satisfy&display=swap');
​
/* Default styling */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: Satisfy, sans-serif;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}


.general-setup {
  width: 500px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 20px;

}

.submit-button {
  width: 70px;
  height: 30px;
  border: solid black 1px;
  padding: 10px 5px 5px 5px;
  margin: 3px;
  background-color: #f3cc64;
  text-align: center;
  font-size: 1rem;
  font-family: Satisfy, sans-serif;
  border-radius: 5px;
}


/* Shadow code from W3 school tutorials */

.submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hide {
  display: none;
}

/* Header */

#header {
  background-color: #393e8f;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
}

#logo {
  margin-left: 10px;
  color: white;
  align-self: center;
}

#magic-wand {
  width: 80px;
  height: 95px;
}



/* Footer */
#footer {
  background-color: #12194A;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Page */

.giphy-embed {
  width: 225px;
  height: 150px;
  border: 0px;
  margin: 0 auto;
}

/* Character Generator Section */

#characterGenerate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: fit-content;
}

#character {
  width: 100px;
  height: 10px;
  padding: 20px;
  border: solid #12194A 2px;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#character-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
}

#characterImageArea {
  width: 200px;
  height: 200px;
  border: solid #12194A 2px;
  padding: 5px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#characterImageArea img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

.character-arrows {
  margin: 20px;
  text-align: center;
  color: #12194A;

}

/* Code from W3 schools tutorial on Tooltips
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #12194A;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #12194A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #12194A transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Submit Section */

#submit-section {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Quiz Page */

/* Character Name Area */

#character-name-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: #12194A;
  border: solid #12194A 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  font-family: Satisfy, sans-serif;
}

#character-name-area:hover {

  background-color: #f3cc64;
  color: #12194A;
}

#character-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  margin-right: 20px;

}

#character-logo img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

/* Question Area */

#question-number {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

#written-question {
  width: 100%;
  height: 80px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#picture-question {
  display: grid;
  grid-template-columns: auto auto;
  width: 300px;
  height: 280px;
  margin: 0 auto;
  padding: 10px;

}

.picture-image {
  display: inline-grid;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: solid black 1px;
}

.picture-image:hover {
  border: solid #B12228 3px;
}


#audio-question {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

/* Answer Area */

#answer-area {
  width: 110px;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

.radio-answer-choice {
  background: transparent;
  width: 10px;
  height: 10px;
  font-size: 1.2rem;
  margin: 5px;
}

.radio-answer-choice:hover {
  color: #B12228;
}

/* Score Tracker */

#score-area {
  display: flex;
  justify-content: flex-end;
}

#score-tracker {
  width: 80px;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: #B12228;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

#score-tracker:hover {

  background-color: #f3cc64;
  color: #12194A;

}

/* Results Page */

#result-message {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

#certificate {
  width: 400px;
  height: 252px;
  border: solid black 3px;
  background-image: url("../images/site-images/congratulations-champion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#certificate p {
  background-color: white;
  opacity: .8;
  font-weight: 900;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;

}

#next-step-figures-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.next-step-figures {
  margin: 20px;
}

.next-step-figures:hover {
  color: #B12228;
  font-weight: 800;
}

.next-step-images {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid black 1px;
}

.next-step-images:hover {
  border: solid #B12228 3px;
}